@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Faster+One&family=Fredericka+the+Great&display=swap');

*{

    margin:0;

    padding:0;

}

html{

    scroll-behavior: smooth;

}

body {

    color:white;

    width:100%;

    background:black;

    background-attachment:fixed;

    background-size:cover;

    max-width:94.5%;

    margin:0;

    padding:0;

}

#top{

    height:200px;

    width:100%;

    border-radius:0 0 50% 0;

    background: rgb(9,8,14);

background: linear-gradient(60deg, transparent 16%, #0000CD 63%, #00008B 87%, black);

/*  

background: linear-gradient(60deg, transparent 16%, #0000CD 63%, #00008B 97%);

*/

    }

#myImg{

    height:150px;

    width:125px;

    position:relative;

    top:25%;

    box-shadow:2px 3px 5px transparent;

    border-bottom-right-radius:15px;

    float:left;

    transition:1s;

    z-index:10;

    pointer-events:none;

}

#introName{

    padding-top:35px;

    font-family: 'Akronim', cursive;

    font-weight:500;

}

.textBox{

    width:100%;

    position:relative;

    margin-top:20px;

    background:linear-gradient(50deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0.5));

    padding:10px;

    border-radius:10px;

    font-size:20px;

    font-family: 'Playfair Display', serif;

    max-width:90%;

    letter-spacing:1px;

    font-weight:500;

}

.txtBox1{

    margin-top:150px;

    left:10px;

    

}

#prof{

    transition:1s ease-in-out;

}

.fa-bars{

    font-size:40px;

    position:fixed;

    top:20px;

    left:10px;

    color:transparent;

    background:linear-gradient(50deg, yellow, orange, red);

    -webkit-background-clip:text;

    background-clip:text;

    background-size:cover;

    transition:0.5s;

    z-index:100;

}

#menuList{

    position:fixed;

    height:100vh;

    

    background-color: #3b1cff;

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,204,336)'%3E%3Cstop offset='0' stop-color='%233b1cff'/%3E%3Cstop offset='1' stop-color='%2308097c'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='470' height='391.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");

background-attachment: fixed;

background-size: cover;

    

    

    width:0;

    z-index:90;

    pointer-events:none;

    transition:0.5s;

    overflow:hidden;

}

.go{

    padding:10px 10px 10px 50px;

    margin:10px 0 10px 0;

    background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );

    box-shadow:2px 3px 5px grey;

    width:60%;

    border-radius:0 10px 10px 0;

    font-size:25px;

    font-weight:500;

    transition:0.4s ease-in-out;

    text-shadow:1px 2px 9px black;

    text-decoration:none;

    color:white;

    font-family: 'Faster One', cursive;

}

#homeGo{

    margin-top:60px;

}

#myBtnTop {

  display: none; 

  position: fixed; 

  bottom: 20px; 

  left: 30px; 

  z-index: 80; 

  border: none; 

  outline: none; 

  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(247,30,30,1) 100.3% );

  background-size:cover;

  box-shadow:2px 0.5px 5px rgba(247,30,30,1);

  color: white; 

  cursor: pointer; 

  padding: 15px;  

  font-size: 18px; 

  border-radius:10px;

  /* 

  clip-path:polygon(15% 70%, 15% 100%, 35% 100%, 35% 70%, 50% 70%, 25% 10%, 0% 70%);

  

   */

}

#myBtnTop:hover {

  background-image: linear-gradient( 179.6deg,  rgba(0,19,26,1) -4.9%, rgba(0,77,105,1) 108.4% ); 

  box-shadow:2px 1px 5px rgba(0,77,105,1);

}

.go:hover{

    box-shadow:5px 7px 10px 0 black;

    width:80%;

background-color: #6b0f1a;

background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

   text-shadow:3px 5px 5px black;
    
   font-size:35px;

}

.projects, .skill{

    margin-top: 0px;

    margin-bottom: 10px;

    padding-left:320px;

    

    overflow-x: scroll;

    overflow-y: hidden;

    white-space: nowrap;

    background-color: #2a2a72;

background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

display:flex;

    justify-content:center;

    align-items:center;

    overflow:scroll;

    margin-left:0px;

}

.frameImage{

    pointer-events:none;

    height:250px;

    border:none;

    width:200px;

    border-radius:10px;

}

.pro, .ski{

    box-shadow:1px 2px 15px black;

    border-radius:15px;

    margin:10px 10px 10px 10px;

    padding:0;

    background-color: #2a2a72;

background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

transition:0.4s ease-in-out;

font-family: 'Playfair Display', serif;

    width:230px;

}

.pro:hover, .ski:hover{

    box-shadow:8px 10px 10px black, inset 3px 4px 15px black;

}

.titlePro, .titleSkill{

    text-indent:20px;

    text-align:center;

}

a{

    text-decoration:none;

    color:inherit;

}

.showSites{

    display:flex;

    justify-content:center;

    align-items:center;

}

.SiteBtn{

    padding:5px;

    margin:5px;

}

.icon{

    height:40px;

    width:40px;

    border-radius:50%;

}

button{

    color:white;

    font-size:15px;

    font-weight:800;

    background-color: #a4508b;

background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

border-radius:10px;

border:none;

box-shadow:2px 3px 5px navy, inset 2px 3px 5px navy;

}

.HeadTitle{

    text-align:center;

    margin:50px 0 0 0;

    padding-top:10px;

    text-shadow:3px 5px 5px black;

    background:linear-gradient(50deg, black, blue, navy);

    border-radius:10px 10px 0 0;

    font-size:50px;

    font-weight:500;

    font-family: 'Fredericka the Great', cursive;

}

.s1{

    color:hotpink;

    animation:anims1 1s infinite;

}

.s2{

    color:pink;

    animation:anims2 1s infinite;

}

.s3{

    color:red;

    animation:anims3 1s infinite linear;

}

@keyframes anims1{

    0%{

        color:hotpink;

        opacity:1;

    }

    50%{

        color:red;

        opacity:0.5;

    }

    100%{

        color:pink;

        opacity:0.3;

    }

}

@keyframes anims2{

    0%{

        color:pink;

        opacity:0.5;

    }

    50%{

        color:hotpink;

        opacity:1;

    }

    100%{

        color:red;

        opacity:0.5;

    }

}

@keyframes anims3{

    0%{

        color:red;

        opacity:0.3;

    }

    50%{

        color:pink;

        opacity:0.5;

    }

    100%{

        color:hotpink;

        opacity:1;

    }

}

.skillIcon{

    height:200px;

    width:200px;

}

.contact{

    display:flex;

    justify-content:center;

    align-items:center;

    background:red;

    padding-bottom:100px;

    background-color: #2a2a72;

background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

}

.cntImg{

    height:10vh;

    width:10vw;

    margin:15px;

    border-radius:50%;

    box-shadow:2px 3px 10px 1px navy;

}

.sid{

    font-family: 'Akronim', cursive;

}

